
.post-card-container{
background-color: rgb(255, 250, 250);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-card-container-header{
    display: flex;
    width: 25rem;
    padding: 0.3125rem 0.4375rem;
    align-items: center;
    gap: 0.625rem;
    background-color: rgb(255, 250, 250);
}

.poster-name{
    display: flex;
    width: 19rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.post-image{
    width: 25rem;
    height: fit-content;
    object-fit: fill;
}

.post-image img{
    width: 25rem;
}

.likes{
    display: flex;
    width: 25rem;
    height: 2.1875rem;
    padding: 0rem 2.5625rem 0rem 0.4375rem;
    align-items: center;
    gap: 0.625rem;
    background-color: rgb(255, 250, 250);
}

.number-of-likes{
    color: #1C1B1F;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description{
    display: flex;
    width: 25rem;
    padding: 0rem 0.4375rem 0.5625rem 0.4375rem;
    flex-direction: column;
    align-items: flex-start;
    /* border-bottom: 1px solid #6b6b6b; */
}

.description :nth-child(1){
    color: #000;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description :nth-child(2){
    color: #000;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}