.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.no-wrap{
    flex-wrap: nowrap;
}

.al-flex-start{
    align-items: flex-start;
}

.flex-end{
    align-self: flex-end;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.jc-space-bt {
    justify-content: space-between;
}

.jc-fend {
    justify-content: flex-end;
}

.al-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}

.width-100 {
    width: 100%;
}

.color-white{
    color: rgb(255, 250, 250);
}

.color-gray {
    color: rgb(42, 43, 42);
}

.color-red {
    color: rgb(255, 109, 109);
}

.b-circle {
    border-radius: 100%;
    border: rgb(235, 237, 239) 1px solid;
    width: 48px;
    height: 48px;
}

.make-icon {
    width: 32px;
    height: 32px;
}

.bold {
    font-weight: bold;
}

.bg-white{
    background-color: #FFFAFA;
}

.bg-red{
    background-color: #ff6d6d;
}

.no-deco {
    text-decoration: none;
}

.hidden {
    display: none;
}

.nav-links {
    text-decoration: none;
    color: rgb(42, 43, 42);
}

.nav-links:hover {
    color: rgb(255, 230, 109);
    border-bottom: 2px solid rgb(255, 230, 109);
}

.links-wrapper {
    width: 20%;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    padding: 24px;
    gap: 10px;
}

.card {
    border: rgb(216, 226, 220) 2px solid;
    background-color: rgb(255, 250, 250);
    display: flex;
    padding: 32px;
    border-radius: 20px;
}

.card-box {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.card-title {
    color: rgb(42, 43, 42);
}

.label {
    color: rgb(42, 43, 42);
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.input {
    outline: none;
    border: 2px solid rgb(109, 160, 255);
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 14px;
}

.input:hover {
    border-color: rgba(109, 160, 255, 0.8);
}

.btn {
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    background-color: rgb(109, 160, 255);
    color: rgb(255, 250, 250);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover{
    filter: brightness(110%);
}

.textarea{
    outline: none;
    border: 2px solid rgb(255, 230, 109);
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 18px;
}

.textarea:hover{
    border-color: rgb(255, 235, 133);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.transition{
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0, 1);
}